<h1>Iniciar Sesion</h1>
<%= form_tag sessions_path do %>
<h2>
<div class="field ">
<%= label_tag :"Correo Electronico:" %><br>
<%= text_field_tag :email,nil, class:"form-control", required: true, placeholder:"Correo Electronico"%>
</div>
  <div class="field">
<%= label_tag :"Contraseña:" %><br>
<%= password_field_tag :password, nil, class:"form-control", required: true, placeholder:"Password"%>
</div>
  <div class="actions">
 	<%= submit_tag "Iniciar Sesion", class:"btn btn-success", required: true %>
 </div>
</h2>
<% end %>
