<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | Bicitme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
        <%= link_to "Bicitme", root_path, id: "logo" %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%if current_user %>
            	<li> <h3>Hola <%= current_user.usuar_nom_usuario %></h3></li>
            	<%if current_user.usuar_tipo_cod == 'C' %>
            		<li><%= link_to "Ingresar Bicicleta", new_bicicletum_path %></li>
            		<li><%= link_to "Modificar Bicicleta ", bicicleta_path %></li>
            		<li><%= link_to "Solicitar Reparacion", vista_ciclista_path %></li>
            	<%else%>
            		<%if current_user.usuar_tipo_cod == 'E'%>
            			
            			<li><%= link_to "Registrar Taller", registrartaller_path %></li>
            			<li><%= link_to "Registrar Postulacion", registrarpostulacion_path %></li>
	            		<li><%= link_to "Ver Peticiones", '#' %></li>
	            		<li><%= link_to "Ver Reparaciones", '#' %></li>
	            		<li><%= link_to "Ver Bicicletas Robadas", '#' %></li>
	            	<%else%>
	            			<%if current_user.usuar_tipo_cod == 'A'%>
	            				<li><%= link_to "Registrar Administrador", new_usuario_path %></li>
	            			<% end %>
	            	<%end%>
            	<%end%>
            	<li><%= link_to "Cerrar Sesion", logout_path %></li>
            <%else%>
                <li><%= link_to "Quienes Somos",   '#' %></li>
            	<li><%= link_to "Preguntas Frecuentes",   '#' %></li>
            	<li><%= link_to "Iniciar Sesion", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
</header>
    <div class="container">
      <div class="left jumbotron">
      <%= yield %>
      </div>
    </div>
    <div class="container">
      <footer>
      	<p> Bicitme - Sistema de gestion y ayuda para ciclistas </p>
      </footer>
    </div>
</body>
</html>



<% flash.each do |key, value| %>
<%= content_tag(:div, class: "alert alert-#{key}") do %>
<p><%= value %></p>
<% end %>
<% end %>