<p id="notice"><%= notice %></p>

<h1>Listing Tallers</h1>

<table>
  <thead>
    <tr>
      <th>Taller nombre</th>
      <th>Taller patente</th>
      <th>Taller direccion</th>
      <th>Taller web page</th>
      <th>Taller cant den</th>
      <th>Taller cant cont den</th>
      <th>Taller descripcion</th>
      <th>Taller calificacion</th>
      <th>Taller fono</th>
      <th>Taller estado</th>
      <th>Comuna</th>
      <th>Encargado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tallers.each do |taller| %>
      <tr>
        <td><%= taller.taller_nombre %></td>
        <td><%= taller.taller_patente %></td>
        <td><%= taller.taller_direccion %></td>
        <td><%= taller.taller_web_page %></td>
        <td><%= taller.taller_cant_den %></td>
        <td><%= taller.taller_cant_cont_den %></td>
        <td><%= taller.taller_descripcion %></td>
        <td><%= taller.taller_calificacion %></td>
        <td><%= taller.taller_fono %></td>
        <td><%= taller.taller_estado %></td>
        <td><%= taller.comuna_id %></td>
        <td><%= taller.encargado_id %></td>
        <td><%= link_to 'Show', taller %></td>
        <td><%= link_to 'Edit', edit_taller_path(taller) %></td>
        <td><%= link_to 'Destroy', taller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taller', new_taller_path %>
