 

<p>
  <strong>Taller nombre:</strong>
  <%= @taller.taller_nombre %>
</p>

<p>
  <strong>Taller patente:</strong>
  <%= @taller.taller_patente %>
</p>

<p>
  <strong>Taller direccion:</strong>
  <%= @taller.taller_direccion %>
</p>

<p>
  <strong>Taller web page:</strong>
  <%= @taller.taller_web_page %>
</p>

<p>
  <strong>Taller cant den:</strong>
  <%= @taller.taller_cant_den %>
</p>

<p>
  <strong>Taller cant cont den:</strong>
  <%= @taller.taller_cant_cont_den %>
</p>

<p>
  <strong>Taller descripcion:</strong>
  <%= @taller.taller_descripcion %>
</p>

<p>
  <strong>Taller calificacion:</strong>
  <%= @taller.taller_calificacion %>
</p>

<p>
  <strong>Taller fono:</strong>
  <%= @taller.taller_fono %>
</p>

<p>
  <strong>Taller estado:</strong>
  <%= @taller.taller_estado %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @taller.comuna_id %>
</p>
<%if  !Postulacion.where(:encargado_id => current_user.id, :post_estado => ["Espera","Activo"]).count == 0%>
	<%= link_to 'Registrar postulacion', registrarpostulacion_path %>
<%end%>
<!--<p>
  <strong>Encargado id:</strong>
  <%= @taller.encargado_id %>
</p>


<!--<%= link_to 'Back', tallers_path %>-->
