<%= form_for(@reparacion) do |f| %>
  <% if @reparacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reparacion.errors.count, "error") %> prohibited this reparacion from being saved:</h2>

      <ul>
      <% @reparacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.usuar_tipo_cod == 'C'%>
	  <div class="field">
	    <%= f.label :rep_direccion %><br>
	    <%= f.text_field :rep_direccion %>
	  </div>
	  <div class="field">
	    <%= f.label :rep_distancia %><br>
	    <%= f.text_field :rep_distancia %>
	  </div>
	  <div class="field">
	    <%= f.label :rep_comentario %><br>
	    <%= f.text_field :rep_comentario %>
	  </div>
	  <div class="field">
	    <%= f.label :bicicleta_id %><br>
	    <%= f.collection_select( :bicicleta_id, Bicicletum.where(:ciclista_id => current_user.id), :id, "combined_value")%>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
  <%end%>
  
  <% if current_user.usuar_tipo_cod  == 'E'%>
  	<div class="field">
	    <%= f.label :rep_direccion %><br>
	    <%= @reparacion.rep_direccion %>
	  </div>
	  <div class="field">
	    <%= f.label :rep_distancia %><br>
	    <%= @reparacion.rep_distancia %>
	  </div>
	  <div class="field">
	    <%= f.label :rep_comentario %><br>
	    <%= @reparacion.rep_comentario %>
	  </div>
	  <div class="field">
	    <%= f.label :bicicleta_id %><br>
	    <%= @reparacion.bicicleta_id%>
	  </div>
	  <!--<div class="actions">
	    <%= f.submit "Confirmar"%>
	  </div>-->
	<% end %>
  
<% end %>
