<%= form_for(@reparacion) do |f| %>
  <% if @reparacion.errors.any? %>
    <div id="error_explanation">
  	  <h2> No se pudo completar la tarea.</h2>
    </div>
  <% end %>
  
  <% if current_user.usuar_tipo_cod == 'C'%>
  	<% if @reparacion.rep_estado == 'Completado'%>
  	<div class="field">
    <%= f.label :calificacion_id %><br>
    <%= f.collection_select :calificacion_id, Calificacion.all, :id, :cal_puntuacion %>
  	</div>
  	<div class="actions">
	    <%= f.submit "Solicitar Reparacion", class:"btn btn-success"%>
	  </div>
  <%else%>
	  <div class="field">
	    <%= f.label :Direccion %><br>
	    <%= f.text_field :rep_direccion, class:"form-control", required: true %>
	  </div>
	  <div class="field">
	    <%= f.label :Distancia %><br>
	    <%= f.text_field :rep_distancia, class:"form-control", required: true %>
	  </div>
	  <div class="field">
	    <%= f.label :Comentario %><br>
	    <%= f.text_field :rep_comentario, class:"form-control", required: true %>
	  </div>
	  <div class="field">
	    <%= f.label :bicicleta_id %><br>
	    <%= f.collection_select( :bicicleta_id, Bicicletum.where(:ciclista_id => current_user.id), :id, "combined_value")%>
	  </div>
	  <div class="actions">
	    <%= f.submit "Solicitar Reparacion", class:"btn btn-success"%>
	  </div>
	  <%end%>
  <%end%>
  
  <% if current_user.usuar_tipo_cod  == 'E'%>
  	<div class="field">
	    <%= f.label :rep_direccion %><br>
	    <%= @reparacion.rep_direccion %>
	  </div>
	  <div class="field">
	    <%= f.label :rep_distancia %><br>
	    <%= @reparacion.rep_distancia %>
	  </div>
	  <div class="field">
	    <%= f.label :rep_comentario %><br>
	    <%= @reparacion.rep_comentario %>
	  </div>
	  <div class="field">
	    <%= f.label :bicicleta_id %><br>
	    <%= @reparacion.bicicleta_id%>
	  </div>
	  <!--<div class="actions">
	    <%= f.submit "Confirmar"%>
	  </div>-->
	<% end %>
  
<% end %>
