 

<h1>Listado de Reparaciones</h1>

<table>
  <thead>
    <tr>
      <th>Rep direccion</th>
      <th>Rep distancia</th>
      <th>Rep comentario</th>
      <th>Rep estado</th>
      <th>Rep fecha in</th>
      <th>Rep fecha term</th>
      <th>Bicicleta</th>
      <th>Calificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reparacions.each do |reparacion| %>
      <tr>
        <td><%= reparacion.rep_direccion %></td>
        <td><%= reparacion.rep_distancia %></td>
        <td><%= reparacion.rep_comentario %></td>
        <td><%= reparacion.rep_estado %></td>
        <td><%= reparacion.rep_fecha_in %></td>
        <td><%= reparacion.rep_fecha_term %></td>
        <td><%= reparacion.bicicleta_id %></td>
        <td><%= reparacion.calificacion_id %></td>
        
        <% if current_user.usuar_tipo_cod == 'C' and reparacion.rep_estado == 'Completado'%>
        	<td><%= link_to 'Seleccionar para Calificar', edit_reparacion_path(reparacion) %></td> 
        <% else%>
        	<% if current_user.usuar_tipo_cod == 'C' and reparacion.rep_estado == 'Espera'%>
        	<td><%= link_to 'Destruir', reparacion, method: :delete, data: { confirm: 'Esta seguro?' } %></td> <!-- editar para que el usuario no pueda eliminar una petición aceptada-->
        	<% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.usuar_tipo_cod == 'C'%>
	<%= link_to 'Solicitar una nueva reparación', registrarreparacion_path %>
<% end %>
