<p id="notice"><%= notice %></p>

<p>
  <strong>Rep direccion:</strong>
  <%= @reparacion.rep_direccion %>
</p>

<p>
  <strong>Rep distancia:</strong>
  <%= @reparacion.rep_distancia %>
</p>

<p>
  <strong>Rep comentario:</strong>
  <%= @reparacion.rep_comentario %>
</p>

<p>
  <strong>Rep estado:</strong>
  <%= @reparacion.rep_estado %>
</p>

<p>
  <strong>Rep fecha in:</strong>
  <%= @reparacion.rep_fecha_in %>
</p>

<p>
  <strong>Rep fecha term:</strong>
  <%= @reparacion.rep_fecha_term %>
</p>

<p>
  <strong>Bicicleta:</strong>
  <%= @reparacion.bicicleta_id %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @reparacion.calificacion_id %>
</p>

<%= link_to 'Edit', edit_reparacion_path(@reparacion) %> |
<%= link_to 'Back', reparacions_path %>
