<%= form_for(@administrador) do |f| %>
  <% if @administrador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrador.errors.count, "error") %> prohibited this administrador from being saved:</h2>

      <ul>
      <% @administrador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--
  <div class="field">
    <%= f.label :admin_run %><br>
    <%= f.text_field :admin_run %>
  </div>
  <div class="field">
    <%= f.label :admin_cant_aceptados %><br>
    <%= f.number_field :admin_cant_aceptados %>
  </div>
  <div class="field">
    <%= f.label :admin_cant_ban_cic %><br>
    <%= f.number_field :admin_cant_ban_cic %>
  </div>
  <div class="field">
    <%= f.label :admin_cant_ban_taller %><br>
    <%= f.number_field :admin_cant_ban_taller %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>-->
  <div class="actions">
    <%= f.submit "Continuar"%>
  </div>
<% end %>
