<h1>Postulaciones</h1>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Antiguedad</th>
      <th>Referencias</th>
      <th> </th>
      <th>Estado</th>
      <th>Encargado</th>
      <th>Administrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postulacions.each do |postulacion| %>
      <tr>
        <td><%= postulacion.post_tiempo_taller %></td>
        <td><%= postulacion.post_referencia_1 %></td>
        <td><%= postulacion.post_referencia_2 %></td>
        <td><%= postulacion.post_estado %></td>
        <td><%= postulacion.encargado_id %></td>
        <td><%= postulacion.administrador_id %></td>
        <td><%= link_to 'Ver', postulacion, class: "glyphicon glyphicon-search" %></td>
        <td><%= link_to 'Responder', edit_postulacion_path(postulacion), class: "glyphicon glyphicon-Envelope" %></td>
        <td><%= link_to 'Eliminar', postulacion, class: "glyphicon glyphicon-bin", method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Postulacion', new_postulacion_path %>-->
