<div class="center jumbotron">
	<h1>BORRAR ESTA PAGINA <%= current_user.usuar_nom_usuario %> a BicitMe:</h1>
	<%if  Postulacion.where(:encargado_id => current_user.id, :post_estado => "Activo").count == 0%>
	<h2>
		    Estimado, su taller aun se encuentra bajo verificacion.
		    Puede solicitar mayor informacion a nuestro correo: info@bicitme.cl   
	<h2>
	<%end%>
	  <table class="table">
    <thead>
      <tr>
        <th>Menu</th>
      </tr>
    </thead>
    <tbody>
      <p id="notice"><%= notice %></p>
      <tr><td><%= link_to "Ver Peticiones ", reparacions_path %><br></td></tr>
      <tr><td><%= link_to "Ver y crear presupuestos", presupuestos_path %><br></td></tr>
      <tr><td><%= link_to "Ver Bicicletas Robadas", '#' %><br></td></tr>
      <tr><td><%= link_to "Ver mi taller", tallers_path %><br></td></tr>
    </tbody>
  </table>
  	<li><%= link_to "Cerrar Sesion", logout_path, class: "btn btn-lg btn-danger"  %></li>
  		
	</h2>
</div>