<h1>Reparaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Distancia</th>
      <th>Comentario</th>
      <th>Estado</th>
      <th>Fecha ingreso</th>
      <th>Fecha termino</th>
      <th>Bicicleta</th>
      <th>Calificacion</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @reparacions.each do |reparacion| %>
      <tr>
        <td><%= reparacion.rep_direccion %></td>
        <td><%= reparacion.rep_distancia %></td>
        <td><%= reparacion.rep_comentario %></td>
        <td><%= reparacion.rep_estado %></td>
        <td><%= reparacion.rep_fecha_in %></td>
        <td><%= reparacion.rep_fecha_term %></td>
        <td><%= reparacion.bicicleta_id %></td>
        <td><%= reparacion.calificacion_id %></td>
        <% if reparacion.rep_estado == 'Espera'%>
           <td><%= link_to '', reparacion, method: :delete, class: "glyphicon glyphicon-remove" %></td>
        <%else%>
           <td><%= link_to '', reparacion, method: :delete, class: "glyphicon glyphicon-ok " %></td> 
        <% end %>
        <!--<% if current_user.usuar_tipo_cod == 'E'%>
          <td><%= link_to 'Seleccionar para Responder', edit_reparacion_path(reparacion) %></td> 
        <% end %>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.usuar_tipo_cod == 'C'%>
  <%= link_to 'Solicitar una nueva reparación', registrarreparacion_path, class: "btn btn-lg btn-primary"  %>
<% end %>
