<%= form_for(@taller) do |f| %>
  <% if @taller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taller.errors.count, "error") %> prohibited this taller from being saved:</h2>

      <ul>
      <% @taller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taller_nombre %><br>
    <%= f.text_field :taller_nombre, class:"form-control", required: true   %>
  </div>
  <div class="field">
    <%= f.label :taller_patente %><br>
    <%= f.text_field :taller_patente, class:"form-control", required: true   %>
  </div>
  <div class="field">
    <%= f.label :taller_direccion %><br>
    <%= f.text_field :taller_direccion, class:"form-control", required: true   %>
  </div>
  <div class="field">
    <%= f.label :taller_web_page %><br>
    <%= f.text_field :taller_web_page, class:"form-control", required: true   %>
  </div>
  
  <div class="field">
    <%= f.label :taller_descripcion %><br>
    <%= f.text_field :taller_descripcion, class:"form-control", required: true   %>
  </div>
  
  <div class="field">
    <%= f.label :taller_fono %><br>
    <%= f.text_field :taller_fono, class:"form-control", required: true  %>
  </div>
  <div class="field">
    <%= f.label :comuna_id %><br>
    <%= f.collection_select :comuna_id, Comuna.all, :id, :com_nombre %>
  </div>
  <!--<div class="field">
    <%= f.label :taller_estado %><br>
    <%= f.text_field :taller_estado %>
  </div>
  <div class="field">
    <%= f.label :taller_cant_den %><br>
    <%= f.number_field :taller_cant_den %>
  </div>
  <div class="field">
    <%= f.label :taller_cant_cont_den %><br>
    <%= f.number_field :taller_cant_cont_den %>
  </div>
  <div class="field">
    <%= f.label :taller_calificacion %><br>
    <%= f.text_field :taller_calificacion %>
  </div>
  <div class="field">
    <%= f.label :encargado_id %><br>
    <%= f.number_field :encargado_id %>
  </div>-->
  <div class="actions">
    <%= f.submit "Confimar", class:"btn btn-success"%>
  </div>
<% end %>
