<p id="notice"><%= notice %></p>

<h1>Listing Postulacions</h1>

<table>
  <thead>
    <tr>
      <th>Post tiempo taller</th>
      <th>Post referencia 1</th>
      <th>Post referencia 2</th>
      <th>Post estado</th>
      <th>Encargado</th>
      <th>Administrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postulacions.each do |postulacion| %>
      <tr>
        <td><%= postulacion.post_tiempo_taller %></td>
        <td><%= postulacion.post_referencia_1 %></td>
        <td><%= postulacion.post_referencia_2 %></td>
        <td><%= postulacion.post_estado %></td>
        <td><%= postulacion.encargado_id %></td>
        <td><%= postulacion.administrador_id %></td>
        <td><%= link_to 'Show', postulacion %></td>
        <td><%= link_to 'Edit', edit_postulacion_path(postulacion) %></td>
        <td><%= link_to 'Destroy', postulacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postulacion', new_postulacion_path %>
