<p id="notice"><%= notice %></p>

<p>
  <strong>Post tiempo taller:</strong>
  <%= @postulacion.post_tiempo_taller %>
</p>

<p>
  <strong>Post referencia 1:</strong>
  <%= @postulacion.post_referencia_1 %>
</p>

<p>
  <strong>Post referencia 2:</strong>
  <%= @postulacion.post_referencia_2 %>
</p>

<p>
  <strong>Post estado:</strong>
  <%= @postulacion.post_estado %>
</p>

<p>
  <strong>Encargado:</strong>
  <%= @postulacion.encargado_id %>
</p>
<!--
<p>
  <strong>Administrador:</strong>
  <%= @postulacion.administrador_id %>
</p>

<%= link_to 'Edit', edit_postulacion_path(@postulacion) %> |-->
<%= link_to 'Ir a pagina principal', root_path %>
