<p id="notice"><%= notice %></p>

<h1>Listing Presupuestos</h1>

<table>
  <thead>
    <tr>
      <th>Prep precio min</th>
      <th>Prep precio max</th>
      <th>Prep comentario</th>
      <th>Prep estado</th>
      <th>Taller</th>
      <th>Reparacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presupuestos.each do |presupuesto| %>
      <tr>
        <td><%= presupuesto.prep_precio_min %></td>
        <td><%= presupuesto.prep_precio_max %></td>
        <td><%= presupuesto.prep_comentario %></td>
        <td><%= presupuesto.prep_estado %></td>
        <td><%= presupuesto.taller_id %></td>
        <td><%= presupuesto.reparacion_id %></td>
        <td><%= link_to 'Show', presupuesto %></td>
        <td><%= link_to 'Edit', edit_presupuesto_path(presupuesto) %></td>
        <td><%= link_to 'Destroy', presupuesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presupuesto', new_presupuesto_path %>
