<p id="notice"><%= notice %></p>

<p>
  <strong>Prep precio min:</strong>
  <%= @presupuesto.prep_precio_min %>
</p>

<p>
  <strong>Prep precio max:</strong>
  <%= @presupuesto.prep_precio_max %>
</p>

<p>
  <strong>Prep comentario:</strong>
  <%= @presupuesto.prep_comentario %>
</p>

<p>
  <strong>Prep estado:</strong>
  <%= @presupuesto.prep_estado %>
</p>

<p>
  <strong>Taller:</strong>
  <%= @presupuesto.taller_id %>
</p>

<p>
  <strong>Reparacion:</strong>
  <%= @presupuesto.reparacion_id %>
</p>

<%= link_to 'Edit', edit_presupuesto_path(@presupuesto) %> <!--|
<%= link_to 'Back', presupuestos_path %>-->
